@model EnvanterCreditWest.Models.Products

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Products</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Branches.BranchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Branches.BranchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brands.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brands.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Firms.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firms.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductModels.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductModels.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Types.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Types.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users.FirstLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.FirstLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Barcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Barcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAcquired)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAcquired)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Warranty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Warranty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceURL)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
