@model EnvanterCreditWest.Models.Products

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ürün Detayları</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Branches.BranchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Branches.BranchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brands.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brands.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Firms.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firms.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductModels.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductModels.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Types.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Types.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users.FirstLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.FirstLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Barcode)
        </dt>
        <dd>
            <img src="@Model.BarcodeUrl" />
            <a>Print Barcode</a>
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Barcode)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.DateAcquired)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAcquired)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Warranty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Warranty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Statuses.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Statuses.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceURL)
        </dt>

        <dd>
            <img src="@Model.InvoiceURL" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Donanım Detayları", "Create", "ProductDetails", new { id = Model.Id }, new { @class = "btn btn-success" })
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.Id }, new { @class = "btn btn-info" })
    @Html.ActionLink("Değişiklikler", "PIndex", "ChangeDetails", new { id = Model.Id }, new { @class = "btn btn-warning" }) 
    @Html.ActionLink("Listeye Geri Dön", "Index", null, new { @class = "btn btn-primary" })
</p>
