@model IEnumerable<EnvanterCreditWest.Models.Products>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Index</h2>

<html>


<body>

    @* Baslık *@
    <div class="container">
        <h2>Products</h2>
        <p>List of products in inventory.</p>

        @* Create button *@
        <p>
            @Html.ActionLink("Create New Product", "Create", null, new { @class = "btn btn-success" })
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Model)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Brand)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Warranty)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateAcquired)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Barcode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductionDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Condition)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Warranty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateAcquired)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Barcode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductionDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Condition)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", null, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Details", "Details", null, new { @class = "btn btn-default" })
                        @Html.ActionLink("Delete", "Delete", null, new { @class="btn btn-danger" })

                    </td>
                </tr>
            }

        </table>
    </div>
</body>
</html>
