@model IEnumerable<EnvanterCreditWest.Models.Products>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="display:flex;">
    <h2>Cihazlar Listesi</h2>
    <div style="position:fixed; right:40px;">
        <a class="cw-btn" id="YeniKayıt">
            <span>Yeni Kayıt</span>
            <img src="https://cdn3.iconfinder.com/data/icons/tango-icon-library/48/list-add-512.png" width="48px" height="48px" />
        </a>
        <a class="cw-btn" id="filter">
            <span>Filtrele</span>
            <img src="~/Resources/funnel.png" width="48px" height="48px" />
        </a>
        <a class="cw-btn" id="excelExport">
            <span>Excel'e Aktar</span>
            <img src="https://cdn2.iconfinder.com/data/icons/logos-brands-4/24/logo_brand_brands_logos_excel-512.png" width="48px" height="48px" />
        </a>
    </div>
</div>
<hr />


<div class="form-group" style="margin:2vh;transition:all 0.5s;height:0;overflow:hidden; max-height:18vh;">
    <div class="row">
        <div class="col-md-4" style="display: flex;">
            @Html.DropDownList("Brands", null, htmlAttributes: new { @class = "form-control", @id = "dropBrands" })
            <div class="checkbox" style="margin: 1.5vh;">
                <label><input type="checkbox" id="brandsCheckBox" value=""></label>
            </div>
        </div>
        <div class="col-md-4" style="display: flex;">
            @Html.DropDownList("StatusId", null, htmlAttributes: new { @class = "form-control", @id = "dropStatus" })
            <div class="checkbox" style="margin: 1.5vh;">
                <label><input type="checkbox" id="statusCheckBox" value=""></label>
            </div>
        </div>
        <div class="col-md-4" style="display: flex;">
            @Html.DropDownList("Branches", null, htmlAttributes: new { @class = "form-control", @id = "dropBranches" })
            <div class="checkbox" style="margin: 1.5vh;">
                <label><input type="checkbox" id="branchesCheckBox" value=""></label>
            </div>
        </div>
    </div>
    <br />
    <div class="row">

        <div class="col-md-4" style="display: flex;">
            @Html.DropDownList("Firms", null, htmlAttributes: new { @class = "form-control", @id = "dropFirms" })
            <div class="checkbox" style="margin: 1.5vh;">
                <label><input type="checkbox" id="firmsCheckBox" value=""></label>
            </div>
        </div>
        <div class="col-md-4" style="display: flex;">
            @Html.DropDownList("Users", null, htmlAttributes: new { @class = "form-control", @id = "dropUsers" })
            <div class="checkbox" style="margin: 1.5vh;">
                <label><input type="checkbox" id="usersCheckBox" value=""></label>
            </div>
        </div>
        <div class="col-md-4" style="display: flex;">
            @Html.DropDownList("Models", null, htmlAttributes: new { @class = "form-control", @id = "dropModels" })
            <div class="checkbox" style="margin: 1.5vh;">
                <label><input type="checkbox" id="modelCheckBox" value=""></label>
            </div>
        </div>

        <a id="btnSearch" class="btn btn-success" style="width:96%;margin-left:15px;">
            <span style="color:white;">Ara</span>

        </a>

    </div>
</div>

@if (Model.Count() != 0)
{
    <h5>Toplam Ürün : <span style="font-size:3vh"> @ViewBag.Count</span></h5>

    <table class="table" id="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Branches.BranchName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brands.BrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firms.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductModels.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Types.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statuses.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Branches.BranchName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brands.BrandName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firms.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductModels.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Types.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Users.FirstLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Statuses.Name)
                </td>
                <td>
                    @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-success" })
                    @Html.ActionLink("Detaylar", "Details", new { id = item.Id }, new { @class = "btn btn-outline-primary" })
                    @Html.ActionLink("Değişiklikler", "PIndex", "ChangeDetails", new { id = item.Id }, new { @class = "btn btn-outline-warning" })
                    @Html.ActionLink("Sil", "Delete", new { id = item.Id }, new { @class = "btn btn-outline-danger" })
                </td>
            </tr>
        }

    </table>

}
else
{
    <hr />
    <h1>Aradığınız kriterlerde sonuç bulunamadı.</h1>
}

<script>

    myExcel = new ExcelGen({
        "src_id": "table",
        "show_header": true
    });

    $("#excelExport").click(function () {
        myExcel.generate();
    });

    $("#filter").click(function () {
        if ($(".form-group").css('height') == "0px")
            $(".form-group").css('height', '18vh');
        else
            $(".form-group").css('height', '0');
    });
    $("#YeniKayıt").click(function () {
        window.location.href = "/Products/Create";
    });

    $("#btnSearch").click(function () {
        var branchesCheckBox = $('#branchesCheckBox').is(":checked") ? 1 : 0;
        var brandsCheckBox = $('#brandsCheckBox').is(":checked") ? 1 : 0;
        var firmsCheckBox = $('#firmsCheckBox').is(":checked") ? 1 : 0;
        var usersCheckBox = $('#usersCheckBox').is(":checked") ? 1 : 0;
        var modelCheckBox = $('#modelCheckBox').is(":checked") ? 1 : 0;
        var statusCheckBox = $('#statusCheckBox').is(":checked") ? 1 : 0;

        var dropBranches = $("#dropBranches option:selected").val();
        var dropBrands = $("#dropBrands option:selected").val();
        var dropFirms = $("#dropFirms option:selected").val();
        var dropUsers = $("#dropUsers option:selected").val();
        var dropModels = $("#dropModels option:selected").val();
        var dropStatus = $("#dropStatus option:selected").val();


        var route = "/Products/Search?checkBrand=" + brandsCheckBox + "&checkBranch=" + branchesCheckBox + "&checkFirm=" + firmsCheckBox + "&checkUser=" + usersCheckBox + "&checkModel=" + modelCheckBox + "&checkStatus=" + statusCheckBox + "&dropBranch=" + dropBranches + "&dropBrand=" + dropBrands + "&dropFirm=" + dropFirms + "&dropUser=" + dropUsers + "&dropModel=" + dropModels + "&dropStatus=" + dropStatus + "";
        window.location.href = route;
    });
</script>