@model IEnumerable<EnvanterCreditWest.Models.Changes>


<h2>Değişiklikler</h2>

<p>
    @Html.ActionLink("Yeni Ekle", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Products.Barcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocalIpAddress)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Products.Barcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalIpAddress)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Edit", new { id = item.Id },new { @class = "btn btn-outline-success" }) 
                @Html.ActionLink("Detaylar", "Index", "ChangeDetails", new { id = item.Id }, new { @class = "btn btn-outline-primary" }) 
                @Html.ActionLink("Sil", "Delete", new { id = item.Id }, new { @class = "btn btn-outline-danger" })
            </td>
        </tr>
    }

</table>
